<h1>
  HELLO EMAIL FRIEND! 💚
</h1>

<p>
  Hulk happy you want to be email friend!<br>
  You help Hulk write good words.
</p>

<h3>
  <b>How you help Hulk write good words?</b>
</h3>

<ol>
  <li>You send nice email to <a href="mailto:hulk@hulkwriteemail.com">hulk@hulkwriteemail.com</a></li>
  <li>Hulk type your email into Hulk's computer</li>
  <li>Hulk learn how to write good words. YOUR good words!</li>
</ol>

<p>
  Then Hulk reply with what Hulk think when writing email.
</p>

<p>
  Maybe you see Hulk more than Smash. <br>
  You learn something new about Hulk!?!!
</p>

<h3>
  <b>What you send to Hulk?</b>
</h3>

<b>This what good email friend send to Hulk 🥹</b>

<pre style="font-family: 'Courier New', Courier, monospace; background-color: #f0f0f0; padding: 10px; border-radius: 5px;">
Good evening dear hulk, today i will be sharing my burning passion for
musical theatre! When i stand on the stage, its like i've come home. I
loooove singing and dancing and acting so it's only so splendid that you
do all of them in musical theatre! Unfortunately there is not many
musicals going on in my area, so i can not really evolve this passion so
deeply at the moment. My biggest dream is to act on broadway!

//your dearest darlingest friend
</pre>

<p>
Hulk really like typing that email. Really like.
</p>


<b>Other things Hulk want to type</b>
<ul>
  <li>email about your dream future</li>
  <li>email about food you like and why</li>
  <li>email about cool thing happen in your life</li>
  <li>email about lifting and being strong</li>
</ul>


<h3>
  Not ready to tell Hulk about you yet?
</h3>

<p>Hulk also type boring email!</p>

<p>
  You forward boring email to <a href="mailto:hulk@hulkwriteemail.com">hulk@hulkwriteemail.com</a>?
</p>

<ul>
  <li>Maybe 'Terms and Services Update'? Hulk know, puny lawyer make weak human write.</li>
  <li>Or... 'School Update'? Puny teacher write much boring words.</li>
  <li>Why not... Email start with 'Hope this email find you well'? Hulk know this email from ai spammer.</li>
</ul>

<h3>
  <b>Hulk try to type anything! Hulk learn from every email he type</b>
</h3>