<h1>
  HELLO EMAIL FRIEND! 💚
</h1>

<h3>
  Here what Hulk try before
</h3>

<pre style="font-family: 'Courier New', Courier, monospace; background-color: #f0f0f0; padding: 10px; border-radius: 5px;">
  HELLO PUNY HUMAN!
  hulk tell you, hulk love lifting! 
  it not just something hulk do, it who hulk is. 
  hulk, strongest there is, you know that! hulk lift anything. 
  not just little weights like you. 
  hulk lift big things, like cars, buildings. 
  hulk not care what you think. 
  lifting make hulk feel good, make hulk feel strong. 

  you want to be email friend of hulk?
</pre>

<p>
  <em>You understand why Hulk so lonely?</em>
</p>

<h3>
  <b>Here how you help Hulk</b>
</h3>
<ol>
  <li>You send nice email to <a href="mailto:hulk@hulkwriteemail.com">hulk@hulkwriteemail.com</a></li>
  <li>Hulk type your email in computer</li>
  <li>Hulk say what is in Hulk head when pressing tiny computer buttons</li>
  <li>Computer record what Hulk say</li>
  <li>Computer make recording into text</li>
  <li>Hulk send computer text to email friend</li>
</ol>

<p>
 <b>Now Hulk know little more how to write nice email.</b>
</p>

<h3>
  <b>What you send to Hulk?</b>
</h3>

<ul>
  <li>email about your dream future</li>
  <li>email about food you like and why</li>
  <li>email about cool thing happen in your life</li>
  <li>email about lifting and being strong</li>
</ul>

<h3>
  <b>Not want to tell Hulk about you yet?</b>
</h3>

<ul>
  <li>forward boring email you get</li>
  <li>'Terms and Services Update'. Hulk know, puny lawyer make weak human write.</li>
  <li>'School Update'. Puny teacher write much boring words.</li>
  <li>Email start with 'Hope this email find you well'. Hulk know this email from ai spammer.</li>
</ul>

<h3>
  <b>Hulk try to type anything! Hulk learn from every email he type</b>
</h3>