<h1>
  <%= @greeting %>
</h1>

<p>
  <%= link_to "Read Hulk's thoughts", boring_email_url(@boring_email.to_signed_global_id.to_s) %>
</p>


<h2>
  What Hulk think when typing tiny keys
</h2>

<p>
  <%= @boring_email.funny_body.to_s.gsub(/\n/, '<br/>').html_safe %>
</p>
