<div data-controller="turnstile"
  class="mt-4"
  data-turnstile-sitekey-value="<%= ENV.fetch("TURNSTILE_SITE_KEY") %>"
  data-turnstile-size-value="flexible"
  data-turnstile-theme-value="light">
  <div data-turnstile-target="turnstile"></div>
</div> 