<div class="bg-black flex flex-col font-hand
  text-2xl
  sm:text-3xl
  lg:text-4xl

  [--slant-width:400px] 
  [--hulk-width:360px]
  [--hulk-margin:90px]
  sm:[--slant-width:600px] 
  sm:[--hulk-width:540px]
  sm:[--hulk-margin:180px]
  lg:[--slant-width:1000px]
  lg:[--hulk-width:900px]
  lg:[--hulk-margin:350px]
">
 <div class="hulk sm:pb-24">
  <img src="https://pub-e6cdcc0edcfa4d41934e31f4823f41ac.r2.dev/wide-shot2.png" class="animate-shake px-4">

  <div class="slanted">
    <div class="slanted-top">
      <h2 class="px-10 pt-6 font-hand
      text-4xl 
      sm:text-6xl
      lg:text-8xl
      font-bold tracking-wide text-gray-900 
      ">
        <span class="text-shadow">Hulk so happy!</span> 🥹
      </h2>

      <p>  
        Hulk have new email friend!<br>
        Maybe hulk learn to write good words!<br>
        Maybe Hulk not need to be lonely!
      </p>

      <p>  
        Hulk <span class="underline">soon</span> send email to new email friend! 💚 
      </p>
    </div>
  </div>
</div> 